@model Data.reservas.model.Quarto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Quarto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hotel.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotel.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximoOcupantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximoOcupantes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorDiaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorDiaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorDiariaCrianca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorDiariaCrianca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiariaPorOcupante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiariaPorOcupante)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
