@model Data.reservas.model.Hotel

@{
    ViewBag.Title = "Detalhar";
}

<h2>Detalhar</h2>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cep2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cep2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ddd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ddd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Quartos", "Index", "Quartos", new { id = Model.Id }, null) |
    @Html.ActionLink("Alterar", "Alterar", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
